<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

    <h:head>
        <title>Users</title>
        <h:outputStylesheet library="css" name="main.css"  />
    </h:head>

    <h:body>
 
    	<h1>JSF 2.0 + Spring Example</h1>
 
 		#{userBean.printMsgFromSpring()}

        <h:form method="post" >
            <h:panelGrid id="grid" columns="3">
                <h:outputText id="output1" value="Please enter username" />
                <h:inputText id="username" value="#{userBean.newUsername}"  required="true" />
                <h:message id="message1" for="username" />



                <h:outputText id="output2" value="Date of Birth" />
                <p:calendar value="#{userBean.birthDate}" id="birthDate"
                            yearRange="c-100:c+100" navigator="true"  pattern="dd-MM-yyyy" required="true" />
                <h:message id="message2" for="birthDate" />
                <h:outputText id="output3" value="" />
                <input jsf:id="jsf-submit-btn" type="submit" jsf:value="Process" jsf:action="#{userBean.submitNewUsername}"   />
                <h:outputText id="output4" value="" />
            </h:panelGrid>


        </h:form>

        <h:form>

            <h:dataTable value="#{userBean.users}" var="user"
                         styleClass="employeeTable"
                         headerClass="employeeTableHeader"
                         rowClasses="employeeTableOddRow,employeeTableEvenRow">
                <h:column>
                    <f:facet name="header">
                        <h:commandLink action="#{userBean.sortByCreation()}">Date created</h:commandLink>
                    </f:facet>
                    #{user.createdDate}
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:commandLink action="#{userBean.sortByName()}">Login Name</h:commandLink>
                    </f:facet>
                    #{user.login}
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:commandLink action="#{userBean.sortByBirth()}">Date of Birth</h:commandLink>
                    </f:facet>
                    #{user.birthDate}
                </h:column>
            </h:dataTable>
            <input jsf:id="jsf-submit-btn" type="submit" jsf:value="Delete All Users" jsf:action="#{userBean.clearAll}"   />
        </h:form>

    </h:body>

 
</html>