<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
<h:body>

    <h2>JSF command button example</h2>

    <h:form id="bf"   >
        <h:outputLabel value="Enter your name:">
            <h:inputText id="name" value="#{helloBean.name}"  required="true"/>
        </h:outputLabel>

        <h4>html input type submit enhanced with jsf</h4>
        <input jsf:id="jsf-submit-btn" type="submit" jsf:value="Process" jsf:action="result.xhtml"/>
    </h:form>
    <a href="#{request.contextPath}/home.html"  >Show Home Info with Autowiring Mongo</a><br />
    <a href="#{request.contextPath}/newUser.html"  >Show Add User Info with Autowiring Mongo</a><br />
</h:body>
</html>