<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
<h:head>
    <title>JSF - commandButton example</title>
</h:head>
<h:body>
    <h1>  #{personBean.getInfo()}</h1>

    <h:form method="post" >
        <h:panelGrid id="grid" columns="3">
            <h:outputText id="output1" value="Please enter last name" />
            <h:inputText id="lastName" value="#{personBean.lastName}"  required="true" />
            <h:message id="message1" for="lastName" />

            <h:outputText id="output2" value="Please enter First name" />
            <h:inputText id="firstName" value="#{personBean.firstName}"  required="true" />
            <h:message id="message2" for="firstName" />
        </h:panelGrid>
        <input jsf:id="jsf-submit-btn" type="submit" jsf:value="Process" jsf:action="newUserResult"   />
    </h:form>
    <h:outputText value="#{personBean.output}" />
</h:body>
</html>